<h1>Editing question</h1>

<%= render "form", question: @question %>

<br>

<div class="container-fluid">
  <%= link_to "Show this question", @question,  class:"btn btn-outline-info btn-sm"%>
  <br>
  <%= link_to "Back to questions", questions_path, class:"btn btn-outline-info btn-sm"%>
</div>
